@page "/create-class"
@using CharacterCreator.Models
@inherits ViewComponentBase<CreateClassViewModel>

<div style="display: flex; flex-direction: row">
    <button style="padding: 0px 0.5rem" @onclick="ViewModel.GoBackCommand.Execute">Go back</button>
    <h3 style="padding: 0px 0.5rem">Create a Class</h3>
</div>

<div>
    <label>
        Type
        <input @bind-value="@ViewModel.Class.Type"/>
    </label>
</div>

<div>
    <select @onchange="@(ViewModel.AbilityScoreChangedCommand.Execute)">
        @foreach (var abilityScore in ViewModel.AbilityScores)
        {
            if (abilityScore == AbilityScore.None)
            {
                <option value="@abilityScore" selected> @abilityScore</option>
            }
            else
            {
                <option value="@abilityScore">@abilityScore</option>
            }
        }
    </select>
</div>

<div>
    <select @onchange="@(ViewModel.HitDieChangedCommand.Execute)">
        <option value="4" selected>d4</option>
        <option value="6">d6</option>
        <option value="8">d8</option>
        <option value="10">d10</option>
        <option value="12">d12</option>
        <option value="20">d20</option>
    </select>
</div>

<button @onclick="ViewModel.SaveCommand.Execute">Save</button>